blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff9e3;
    border-left: 2px solid #ffeb8e;
}

body {
    font-family: georgia, sans-serif;
}

a {
    text-decoration: none;
    color: #91a8ba;
}

img {
    height: auto;
}

img.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

section.banner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 150px;
}

#top {
    position: relative;
    height: 100%;
    min-height: 450px;
    margin: 0 auto;
    width: 882px;
    padding: 0 54px;
}

#top p {
    padding-top: 20px;
    padding-bottom: 20px;
}

#viewStory {
    width: 1260px;
    position: absolute;
    text-align: center;
}

#story {
    position: relative;
    height: 100%;
    min-height: 700px;
    margin: 0 auto;
    width: 882px;
    padding: 0 54px;
}

#viewStory a {
    display: inline-block;
    font-size: 17px;
}

.banner p {
    position: absolute;
    font: italic normal 1.4em georgia, sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    color: #000;
    text-shadow: 5px 5px 10px grey;
    left: 340px;
    z-index: 5;

    -webkit-animation: fadeIn 1s ease-in;
    -webkit-animation-timing-function: linear;
    animation: fadeIn 1s ease-in;
    animation-timing-function: linear;
}

.book {
    font-style: italic;
}

.verticalHolder {
    display: table-cell;
    vertical-align: middle;
    height: 450px;
}

#footprint {
    width: 500px;
    margin-left: 250px;
    margin-top: 30px;
    z-index: 1;
}

#standing-cat {
    position: relative;
    left: 428px;
    bottom: 88px;
}

#bannerSplitter {
    margin-top: 50px;
}

#carrot {
    padding-left: 10px;
    width: 12px;
}

@-webkit-keyframes fadeIn {
    from {left: 390px; opacity: 0;}
    to {left: 340px; opacity: 1;}
}

@keyframes fadeIn {
    from {left: 390px; opacity: 0;}
    to {left: 340px; opacity: 1;}
}