blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff9e3;
    border-left: 2px solid #ffeb8e;
}

body {
    font-family: georgia, sans-serif;
}

a {
    text-decoration: none;
    color: #91a8ba;
}

p {
    line-height: 30px;
}

img {
    height: auto;
}

img.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

h1, h2 {
    text-align: center;
}

span {
    color: red;
}

section.banner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 150px;
}

#footprint {
    width: 500px;
    margin-left: 250px;
    margin-top: 30px;
    z-index: 1;
}

#standing-cat {
    position: relative;
    left: 428px;
    bottom: 88px;
}

#bannerSplitter {
    margin-top: 50px;
}

#carrot {
    padding-left: 10px;
    width: 12px;
}

#top {
    position: relative;
    height: 100%;
    min-height: 450px;
    margin: 0 auto;
    width: 882px;
    padding: 0 54px;
}

#story {
    position: relative;
    height: 100%;
    min-height: 400px;
    margin: 0 auto;
    width: 882px;
    padding: 0 54px;
}

#storyCap {
    position: relative;
    height: 100%;
    min-height: 215px;
    margin: 0 auto;
    width: 882px;
    padding: 0 54px;
}

#storyBg {
    height: 450px;
}

#storyMap {
    height: 370px;
}

#top p {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bgContent {
    padding: 0 90px;
    font-size: 18px;
}

#viewStory {
    width: 1260px;
    position: absolute;
    text-align: center;
}

#viewStory a {
    display: inline-block;
    font-size: 17px;
}

#story h1 {
    padding-top: 30px;
}

#storyHolder {
    margin-left: auto;
    margin-right: auto;
    width: 882px;
}

#navLeft, #navRight {
    position: absolute;
    top: 231px;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#navLeft:hover, #navRight:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#navLeft {
    left: 0;
}

#navRight {
    right: 0;
}

#map {
    width: 300px;
    height: 300px;
    table-layout: fixed;
    margin: 0 auto;
    text-align: center;
}

#map, tr, td {
    border: 4px solid;
    border-color: black;
    border-collapse: collapse;
}

#cellHome {
    font-weight: bold;
    color: red;
}

#storyCap p {
    padding: 0 175px;
    font-size: 20px;
}

.banner p {
    position: absolute;
    font: italic normal 1.4em georgia, sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    color: #000;
    text-shadow: 5px 5px 10px grey;
    left: 340px;
    z-index: 5;

    -webkit-animation: fadeFlyIn 1s ease-in;
    -webkit-animation-timing-function: linear;
    animation: fadeFlyIn 1s ease-in;
    animation-timing-function: linear;
}

.book {
    font-style: italic;
}

.verticalHolder {
    display: table-cell;
    vertical-align: middle;
    width: 882px;
}

@-webkit-keyframes fadeFlyIn {
    from {left: 390px; opacity: 0;}
    to {left: 340px; opacity: 1;}
}

@keyframes fadeFlyIn {
    from {left: 390px; opacity: 0;}
    to {left: 340px; opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}