/*rgb(86, 51, 36); light brown
rgb(52, 34, 34); dark brown*/
body {
	background: url(../img/bg.jpg) 50% 50% repeat;
	font-family: 'trebuchet ms', verdana, sans-serif;
	font-weight: bold;
}

div {
	display: block;
	margin: 0 auto;
}

table {
	margin: 0 auto;
	width: 450px;
	height: 450px;
	text-align: center;
	font-size: 40px;
	color: orange;
	text-shadow: 1px 1px 4px #A08675;
	table-layout: fixed;
}

table td {
	overflow: hidden;
}

table,td,tr {
	border: 4px solid;
    border-color: black;
    border-collapse: collapse;
}

.container {
	width: 1200px;
	margin: auto;
}

.banner {
	text-shadow: 3px 3px 7px #A08675;
	width: 650px;
	height: 60px;
	padding: 10px;
	font-size: 36px;
	font-style: italic;
	background: url(../img/white-noise.png) 50% 50% repeat;
}

.banner-text {
	-webkit-animation: fadeLeftFlyIn 0.5s ease-in;
    -webkit-animation-timing-function: linear;
    animation: fadeLeftFlyIn 0.5s ease-in;
    animation-timing-function: linear;
}

.round-border {
	border: 2px solid #C8C4AE;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.panel {
	width: 650px;
	padding-top: 20px;
}

.control-panel {
	font-size: 30px;
}

.control-panel p {
	line-height: 15px;
}

#icon {
	background: url(../img/standing-cat.png);
	width: 60px;
	height: 60px;
	float: left;
}

#title {
	padding-left: 10px;
	position: relative;
	left: 0;
}

#subtitle {
	position: relative;
	top: 30px;
	font-size: 20px;
}

#instruction {
	text-align: center;
}

#instruction.error {
	color: red;
}

#instruction.success {
	color: green;
}

#indicator {
	color: orange;
	text-shadow: 1px 1px 4px #A08675;
}

@-webkit-keyframes fadeLeftFlyIn {
    from {left: 30px; opacity: 0;}
    to {left: 0px; opacity: 1;}
}

@keyframes fadeLeftFlyIn {
    from {left: 30px; opacity: 0;}
    to {left: 0px; opacity: 1;}
}

@-webkit-keyframes fadeRightFlyIn {
    from {right: 30px; opacity: 0;}
    to {right: 0px; opacity: 1;}
}

@keyframes fadeRightFlyIn {
    from {right: 30px; opacity: 0;}
    to {right: 0px; opacity: 1;}
}